@import './reset.css';

:root {
  --background-app: #f4f4f4;
  --background-white: #fff;

  --padding-basic: 20px;
  --border-radius: 24px;

  --color-purple-100: #d2b6ff;
  --color-purple-700: #6a0bff;
  --color-gray: #757575;
  --color-black-50: #e8e8e8;
  --color-green-200: #dff8ea;
  --color-green-750: #008616;

  --font-family: 'Manrope', sans-serif;

  --container-width: 1280px;
  --button-height: 42px;
  --input-height: 48px;

  --duration: 0.2s;
}

body {
  background-color: var(--background-app);
  font-family: var(--font-family);
  font-weight: normal;
  margin: 0;
}

@media (max-width: 768px) {
  :root {
    --padding-basic: 15px;
  }
}
