@import './reset.css';

:root {
  --background-app: #f4f4f4;
  --background-white: #fff;

  --padding-basic: 20px;
  --border-radius: 24px;

  --color-purple-700: #6a0bff;
  --color-gray: #757575;
  --color-green-200: #dff8ea;
  --color-green-750: #008616;

  --font-family: 'Manrope', sans-serif;

  --container-width: 1280px;
  --button-height: 42px;
  --duration: 0.2s;
}

body {
  background-color: var(--background-app);
  font-family: var(--font-family);
}
