.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--padding-basic);
  padding-top: calc(var(--header-height) * 1.5);
  padding-bottom: calc(var(--header-height));
  min-height: calc(100dvh - var(--header-height));
  position: relative;
}
