.button {
  background-color: transparent;
  height: 36px;
  aspect-ratio: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: var(--duration);
  
}

.burger {

}

.side {
  border: 1px solid var(--color-black-200);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-black-50);
  }
}


@media (min-width: 1280px) {
  .button {
    display: none;
  }
}