.badge {
  display: inline-block;
}

.badge.keyword {
  color: var(--color-purple-700);
}

.badge.green {
  color: var(--color-green-750);
  font-size: 12px;
  background-color: var(--color-green-200);
  border-radius: var(--border-radius);
  padding: 3px 8px;
}
