.page {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-black-50);
}

.title {
  font-size: 24px;
  font-weight: normal;
}

.divider {
  margin-bottom: 15px;
}

.card {
  gap: 2px;
}

@media (max-width: 1280px) {
  .page {
    grid-template-columns: 1fr;
  }
}
